[submodule "force_field/OPLS/XML_REFORMAT"]
	path = force_field/OPLS/XML_REFORMAT
	url = git@github.com:shehan807/XML_REFORMAT.git
[submodule "force_field/SAPT/SAPT_force_field_OpenMM"]
	path = force_field/SAPT/SAPT_force_field_OpenMM
	url = git@github.com:jmcdaniel43/SAPT_force_field_OpenMM.git
[submodule "simulation/thermodynamic_integration/Thermodynamic_Integration"]
	path = simulation/thermodynamic_integration/Thermodynamic_Integration
	url = git@github.com:shehan807/Thermodynamic_Integration.git
[submodule "force_field/OPLS/il_xml_library/IL"]
	path = force_field/OPLS/il_xml_library/IL
	url = git@github.com:shehan807/IL.git
[submodule "force_field/OPLS/il_xml_library/ilff"]
	path = force_field/OPLS/il_xml_library/ilff
	url = https://github.com/agiliopadua/ilff.git
